<ng-container>
    <nz-row>
      <nz-button-group>
        <button nz-button nzType="primary" (click)="addStaff()" *ngIf="!newStaff">
          <i nz-icon nzType="plus"></i>
          <span>Agregar personal de base</span>
        </button>
        <button nz-button nzType="primary" (click)="restoreView()" *ngIf="!listStaff">
          <i nz-icon nzType="minus"></i>
          <span>Cancelar</span>
        </button>
      </nz-button-group>
      <nz-divider nzText="{{!newStaff ? 'Lista de personal de base' : 'Introduzca los datos del nuevo personal' }}" nzOrientation="left"></nz-divider>
    </nz-row>
  </ng-container>
  <ng-container *ngIf="listStaff">
    <app-list-staff></app-list-staff>
  </ng-container>
  <ng-container *ngIf="newStaff">
    <app-new-staff></app-new-staff>
  </ng-container>
  <ng-container *ngIf="editStaff">
    <app-info-staff></app-info-staff>
  </ng-container>