<nz-card [nzBordered]="false" [nzHoverable]="true">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" nz-form [nzLayout]="'horizontal'">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input nz-input placeholder="Nombre" formControlName="name" type="text" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input nz-input placeholder="Apellido paterno" formControlName="surname" type="text" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input nz-input placeholder="Apellido materno" formControlName="lastname" type="text" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input nz-input placeholder="Documento de identidad" formControlName="identity_document" type="text" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!formGroup.valid">Crear personal de vuelo</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>