<ng-container>
  <nz-row>
    <nz-button-group>
      <button nz-button nzType="primary" (click)="addUser()" *ngIf="!newUser">
        <i nz-icon nzType="plus"></i>
        <span>Agregar usuario</span>
      </button>
      <button nz-button nzType="primary" (click)="restoreView()" *ngIf="!listUser">
        <i nz-icon nzType="plus"></i>
        <span>Cancelar</span>
      </button>
    </nz-button-group>
  </nz-row>
</ng-container>
<ng-container *ngIf="listUser">
  <app-list-country></app-list-country>
</ng-container>
<ng-container *ngIf="newUser">
  <app-new-country></app-new-country>
</ng-container>
<ng-container *ngIf="editUser">
  <app-info-country></app-info-country>
</ng-container>
