<ng-container>
  <nz-row>
    <nz-button-group>
      <button nz-button nzType="primary" (click)="addView()" *ngIf="!newView">
        <i nz-icon nzType="plus"></i>
        <span>Nuevo</span>
      </button>
      <button nz-button nzType="primary" (click)="restoreView()" *ngIf="!listView">
        <i nz-icon nzType="minus"></i>
        <span>Cancelar</span>
      </button>
    </nz-button-group>
  </nz-row>
</ng-container>
<ng-container *ngIf="listView">
  <app-list-country [newView]="newView" [listView]="listView" [editView]="editView"></app-list-country>
</ng-container>
<ng-container *ngIf="newView">
  <app-new-country [newView]="newView" [listView]="listView" [editView]="editView"></app-new-country>
</ng-container>
<ng-container *ngIf="editView">
  <app-info-country [newView]="newView" [listView]="listView" [editView]="editView"></app-info-country>
</ng-container>
